{% extends "base.html" %}
{% block title %} Accueil {% endblock %}
{% block style %}
	 <style type="text/css">
    .is-vertical-center {
        display: flex;
        align-items: center;
      }
  </style>
{% endblock %}

{% block content %}
   <br><br>
   <section>
   <div class="container has-text-centered ">
	<br><br>

		{%  %}

	   	<table class="table is-fullwidth is-striped is-bordered is-hoverable">

	   
	  	<thead>
		    <tr class="is-selected " >
		      <th class="is-vertical-center" >
		      	<abbr title="Position"> {{cat.label}} </abbr>
		      	<a style="margin-left: 15px" class="button is-primary is-rounded is-outlined is-inverted" > <span class="icon" ><i class="" > + </i></span> </a>
		      </th>
		      <th><abbr title="nbPoste">36</abbr></th>
		      <th><abbr title="nbComment">32</abbr></th>
		      <th><abbr title="date">Auteur</abbr></th>
		      <th><abbr title="nbComment">Date</abbr></th>

		    </tr>
	  </thead>

	  <tbody>
	  	{% for p in cat.postes %}
		    <tr >
		      <td style="width: 45%">
		      	<div class="media is-vertical-center" style="height: 100px">
						      <div class="media-left">
						        <figure class="image is-48x48">
						          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
						        </figure>
						      </div>
						      <div class="media-content">
						        <p class="title is-4"> {{p.title}} </p>
						        <p class="subtitle is-6"> {{p.description}} </p>
						      </div>
						    </div>
		      </td>
		      <td>36</td>
		      <td>32</td>
		      <td> {{p.user.login}} </td>
		      <td> {{p.crud_date}} </td>
		     
		  	</tr>
		{% endfor %}

	</tbody>

  </table>
  <a class="button is-primary is-rounded is-outlined" style="margin-bottom: 12px">Voir plus de {{cat.label}} >> </a>

{% endfor %}


</div>

</section>


{% endblock %}