{% extends "base.html" %}
{% block title %} Accueil {% endblock %}
{% block style %}
	 <style type="text/css">
    .is-vertical-center {
        display: flex;
        align-items: center;
      }
  </style>
{% endblock %}

{% block content %}

   <div class="container has-text-centered ">
	   	<div class="columns">
		   	<div class="column" >
		   		<div class="card">
		   			<div class="card-content">
		   				 <div class="media">
						      <div class="media-left">
						        <figure class="image is-48x48">
						          <img src="https://img.icons8.com/ultraviolet/50/000000/category.png" alt="Placeholder image">
						        </figure>
						      </div>
						      <div class="media-content">
						        <p class="title is-4">CATEGORIES</p>
						        <p class="subtitle is-4">{{nbCat}}</p>
						      </div>
						    </div>

		   			</div>
		   		</div>
		   	</div>
		   	<div class="column" >
		   		<div class="card">
		   			<div class="card-content">
		   				 <div class="media">
						      <div class="media-left">
						        <figure class="image is-48x48">
											<img src="https://img.icons8.com/flat_round/64/000000/bookmark.png">						        </figure>
						      </div>
						      <div class="media-content">
						        <p class="title is-4">SUJETS</p>
						        <p class="subtitle is-4">{{nbPost}}</p>
						      </div>
						    </div>
		   				
		   			</div>
		   		</div>
		   	</div>
		   	<div class="column" >
		   		<div class="card">
		   			<div class="card-content">
		   				 <div class="media">
						      <div class="media-left">
						        <figure class="image is-48x48">
											<img src="https://img.icons8.com/flat_round/64/000000/speech-bubble.png">						        </figure>
						      </div>
						      <div class="media-content">
						        <p class="title is-4">REPONSES</p>
						        <p class="subtitle is-4">{{nbCom}}</p>
						      </div>
						    </div>
		   				
		   			</div>
		   		</div>
		   	</div>
	   </div>
   </div>

   <br><br>
   <section>
   <div class="container has-text-centered ">
   	<div class="card">
   	<!-- <table class="table is-fullwidth is-striped">
	  <thead>
	    <tr>
	      <th><abbr title="Position">CATEGORIES</abbr></th>
	      <th><abbr title="nbPoste">Nbr de poste</abbr></th>
	      <th><abbr title="nbComment">Nbr de commentaire</abbr></th>
	      <th><abbr title="date">Auteur</abbr></th>
	      <th><abbr title="nbComment">Date</abbr></th>

	    </tr>
	  </thead>
	</table> -->

	</div>

	<br><br>

		{% for cat in categories %}

	   	<table class="table is-fullwidth is-striped is-bordered is-hoverable">

	   
	  	<thead>
		    <tr class="is-selected " >
		      <th class="is-vertical-center" >
		      	<abbr title="Position"> {{cat.label}} </abbr>
		      	<a style="margin-left: 15px" class="button is-primary is-rounded is-outlined is-inverted" > <span class="icon" ><i class="" > + </i></span> </a>
		      </th>
		      <!-- <th><abbr title="nbComment">Réponses</abbr></th> -->
		      <th><abbr title="date">Auteur</abbr></th>
		      <th><abbr title="nbComment">Date</abbr></th>

		    </tr>
	  </thead>

	  <tbody>
			
			{% for p in cat.postes %}
			<a style="display: block" href=" {% url 'poste' %} ">
		    <tr id="p.id" name="p.title"  >
		      <td style="width: 55%">
		      	<div class="media is-vertical-center" style="height: 100px">
						      <div class="media-left">
						        <figure class="image is-96x96">
											{% if p.payload %}
                        <img src="{{p.payload}}">  
                    {% else %}    
												<img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    {% endif %}
						        </figure>
						      </div>
						      <div class="media-content">
						        <p class="title is-5"> 	<a style="display: block" href=" {% url 'comment' p.id %} ">
												{{p.title|truncatewords:15}} </a></p>
										<p class="subtitle is-6"> {{p.description|truncatewords:10}} </p>
										
						      </div>
						    </div>
		      </td>
		      <!-- <td>{{p.id}} </td> -->
		      <td> {{p.user}} </td>
		      <td> {{p.crud_date}} </td>
		     
				</tr>
			</a>
		{% endfor %}

	</tbody>

  </table>
  <a class="button is-primary is-rounded is-outlined" style="margin-bottom: 12px">Voir plus de {{cat.label}} >> </a>

{% endfor %}


</div>

</section>


{% endblock %}