{% extends "base.html" %}
{% block title" %}Poste{% endblock %}
{% block content %}
<section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Poste
        </h1>
      </div>
    </div>
  </section>
  <div class="tabs is-boxed">
    <ul>
      <li class="is-active">
        <a>
          <span><i aria-hidden="true"></i></span>
          <span>Nouveau Poste</span>
          
        </a>
      </li>
      <li>
        <a href="coP">
          <span class="icon is-small"><i class="fas fa-clipboard" aria-hidden="true"></i></span>
          <span>Mes postes</span>
        </a>
      </li>
    </ul>
  </div>


<form method="post" enctype="multipart/form-data">  
<div class="field is-horizontal">
      <div class="field-label is-medium">
        <label class="label" for="id_title">Titre du Poste</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input " type="text" name="title" placeholder="Title of poste" style="width: 500px;" id="id_title" required="">
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="field is-horizontal ">
      <div class="field-label is-large" >
        <label class="label" for="id_description" >Poste</label>
      </div>
      <div class="field-body" >
        <div class="field">
          <div class="control">
            <textarea class="textarea" type="text" name="description" placeholder="Contenues" style="height: 300px;" id="id_description" required=""></textarea>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="field is-horizontal">
      <div class="field-label is-medium">
        <label class="label" for="id_date">Date de modification</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input class="input" type="date" name="date" placeholder="date" style="width: 170px;" id="id_date" required="">
          </div>
        </div>
      </div>
    </div>
  
<br>

      <div class="field is-horizontal">
        <div class="field-label is-medium">
          <label class="label" >Catégories</label>
        </div>
        <div class="field-body">
          <div class="field">
            <ul> 
              <li>
        
        <label class="checkbox box" for="id_categorie">
        <input type="checkbox" name="categorie" id="id_categorie">
        Food & Drink
        </label>
      
  
        <label class="checkbox box" for="id_categorie">
        <input type="checkbox" name="categorie" id="id_categorie">
        Lifestyle
        </label>

        <label class="checkbox box" for="id_categorie">
        <input type="checkbox" name="categorie" id="id_categorie">
        Technology
        </label>

        <label class="checkbox box" for="id_categorie">
        <input type="checkbox" name="categorie" id="id_categorie">
        Travel
        </label>

        <label class="checkbox box" for="id_categorie">
        <input type="checkbox" name="categorie" id="id_categorie">
        TV & Movies
        </label>

        <label class="checkbox box" for="id_categorie">
        <input type="checkbox" name="categorie" id="id_categorie">
        Uncategorized
        </label>

           </li>
      </ul>
      </div>
          </div>
        </div>

    <div class="file has-name is-centered">
  <label class="file-label">
  <input class="file-input" type="file" name="resume">
  <span class="file-cta">
    <span class="file-icon">
      <i class="fas fa-upload"></i>
    </span>
    <span class="file-label">
      Choississez votre fichier…
    </span>
  </span>
  <span class="file-name">
    Screen Shot 2017-07-29 at 15.54.25.png
  </span>
  </label>
  </div>
   <br>
    <div class="field is-horizontal">
      <div class="field-label">
        <!-- Left empty for spacing -->
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button class="button is-dark">
              Soumettre le poste
            </button>
          </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}