.nav-container
{
  border-bottom: 2px solid rgba(255,255,255,.1);
  height: 100px;
}
.navbar{

}

header
{
	background-color: hsl(171, 100%, 50%);

}
.hero
{
	/*background-color: red !important;*/
}

.hearder-center-text
{

}

