{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} base {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
<link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">

 {% block style %}
 <style type="text/css">
    .is-vertical-center {
        display: flex;
        align-items: center;
        border: 2px solid red; 
      }
      
  </style>
  {% endblock %}

  </head>
  <body>
	<nav>
	{% block nav %}

<header class="hero is-medium is-primary is-bold">
<div class="hero-head">  
  <nav class="navbar nav-container is-primary
" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      ForumDecodeSanbox
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

    </div>

    <div class="navbar-end">

      <a href=" {%url 'home'%} " class="navbar-item">
        Home
      </a>

      <a class="navbar-item">
        Catégories
      </a>

      <div class="navbar-item has-dropdown is-hoverable ">
        <a class="navbar-link is-primary">
          Postes
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item ">
            Ajouter un poste
          </a>
          <a class="navbar-item">
            Voir mes postes
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Profil
          </a>
        </div>
      </div>
            {%if user.is_authenticated%}
            <div class="navbar-end">
                    <a href="#Account" class="navbar-item ">{{user.username}}<i class="fas fa-user-circle"></i></a>
                    <div class="buttons">
                        <a href=" {% url 'logout' %} " class="button is-danger">
                            <strong>Logout</strong>
                        </a>
                    </div>
            </div>
            {%endif%}

        
      <div class="navbar-item">
        <div class="buttons">
          {%if not user.is_authenticated%}
          <a href="{%url 'register' %} " class="button is-primary is-medium">
            <strong>Sign up</strong>
          </a>
        {%endif%}
          <a href="{%url 'login' %} " class="button is-light is-medium">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>

</nav>

<section >
  <div class="hero-body">
    <div class="container has-text-centered">
      
          <div>
            <p class="title">
              BIENVENUE SUR NOTRE FORUM
            </p>
            <p class="subtitle">
              Un super forum ou tu pourras rire, pleurer, quemander bref le fun total oufzer quoi
            </p>
          
          </div>

          <br>
              <div class="field ">
                <div class="control has-icons-right">
                  <input class="input is-large" type="text" placeholder="Entrez un mot clé">
                  <span class="icon is-large is-right">
                    <a href="#"> <i class="fas fa-search"></i> </a>
                  </span>

                </div>
              </div>

              <a href=" {% url 'poste' %} " class="button is-large is-primary is-outlined is-inverted">Créer un sujet</a>

    </div>
  </div>
</section>

</header>


	{% endblock %}
	</nav>
  <section class="section">
    <div class="container ">
      {% block content %}

        vos contenues

      {% endblock %}

    </div>
  </section>

  <footer class="footer" >
    <div class="container">
      <div class="columns">
        <div class="column">
          <div> © 2019 decodeSdbForum.com</div>
          <div> made by team Beta </div>
          <div> @decode Sandbox Bénin</div>

        </div>
        
        <div class="column">
         <aside class="menu">
            <p class="menu-label">
              Administration
            </p>
            <ul class="menu-list">
                  <li><a>Conditions générales d'utilisation</a></li>
                  <li><a>Politique de confidentialité des données personelles</a></li>
                  <li><a>Aide et F.A.Q</a></li>
                  <li><a>Nous contacter</a></li>


            </ul>
          </aside>
        </div>
        <div class="column">
          <p class="buttons">
            <a class="button is-large is-rounded">
              <span class="icon is-medium">
                <i class="fab fa-facebook"></i>
              </span>
            </a>
            <a class="button is-large is-rounded">
              <span class="icon is-medium">
                <i class="fab fa-github"></i>

              </span>
            </a>
            <a class="button is-large is-rounded">
              <span class="icon is-medium">
                <i class="fab fa-twitter"></i>  
              </span>
            </a>
            <a class="button is-large is-rounded">
              <span class="icon is-medium">
                <i class="fab fa-slack"></i>
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
     
  </footer>

  </body>
</html>
